<div class="container--box callout">
  <div class="grid grid--1x2">
    <img src="images/companyLogo/CalloutInterview@1x.png" alt="" />
    <div class="callout__content">
      <h2 class="callout__heading">Get an Interview!</h2>
      <p class="callout__descript">get a job from your selected company</p>
      <button class="btn btn--secondary">
        <svg class="icon icon--white">
          <use xlink:href="images/icon/sprite.svg#magnify"></use>
        </svg>
        Get Started
      </button>
    </div>
  </div>
</div>
