<div class="input input--field">
  <input
    type="text"
    placeholder="enter your desired job..."
    class="input__box"
  />
  <button class="btn btn--secondary">
    <svg class="icon icon--white">
      <use xlink:href="images/icon/sprite.svg#magnify"></use>
    </svg>
    Search
  </button>
</div>
<div class="input">
  <input type="text" placeholder="get in touch with us..." class="input__box" />
  <button class="btn btn--secondary">
    <svg class="icon icon--white">
      <use xlink:href="images/icon/sprite.svg#magnify"></use>
    </svg>
    Search
  </button>
</div>
