<div class="work">
  <div class="grid grid--1x2">
    <div class="work__orderOutput">
      <ul class="list list--block">
        <li class="list__itemPoints">Working Hour</li>
        <li class="list__itemPoints">Working Expereince</li>
        <li class="list__itemPoints">Salary</li>
      </ul>
      <ul class="list list--block">
        <li class="list__item">4-5 Hours</li>
        <li class="list__item">2 Years</li>
        <li class="list__item">125K</li>
      </ul>
    </div>
    <div class="work__imageGradient">
      <div class="work__imageContainer">
        <picture class="work__image">
          <source
            type="image/png"
            srcset="
              images/companyLogo/facebook@1x.png 1x,
              images/companyLogo/facebook@2x.png 2x
            "
          />
          <img src="images/companyLogo/facebook.png" alt="" />
        </picture>
      </div>
    </div>
  </div>
</div>
