/* Typography */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-primary: linear-gradient(90deg, #3dd9d1, #045597);
  --color-secondary: #045597;
  --color-accent: #353535;
  --radius-border: 4px;
}

html {
  font-size: 62.5%;
}

body {
  /*This is a testing point*/
  /* background-color: var(--color-accent); */
  /* background-color: blue; */
  padding: 3rem;
  /*This is a testing point*/
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 1px;
  line-height: 1.5;
}
.container {
  max-width: 1140px;
}
/* List */
.list {
  padding-left: 0;
  list-style-type: none;
}
.list a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.3s;
}
.list a:hover {
  color: #c7c7c7;
}
.list--inline .list__item {
  display: inline;
  margin-right: 3rem;
}
.list--block .list__item {
  line-height: 1.6;
}
.list--block .list__itemPoints {
  font-weight: 500;
  line-height: 1.6;
  list-style-type: disc;
}
@media screen and (max-width: 468px) {
  .list {
    font-size: 1.5rem;
  }
}
/* Grid */
.grid {
  display: grid;
}
.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}
/* @media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
} */
/* Icon */
.icon {
  height: 20px;
  width: 20px;
}
.icon--white {
  fill: #fff;
}
@media screen and (max-width: 468px) {
  .icon {
    height: 15px;
    width: 15px;
  }
}
/* Button */
.btn {
  border-radius: var(--radius-border);
  border: none;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 0.8rem 1.6vw;
  white-space: nowrap;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
  transition: background-color 0.3s;
}
.btn--secondary:hover {
  background-color: #023f72;
}
.btn .icon {
  transform: translateY(2px);
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 1.6rem;
  }
}
/* input */
.input {
  margin-top: 1rem; /*This is a Test*/
  background-color: #f2f2f2;
  border-radius: var(--radius-border);
  display: flex;
}
.input--field {
  box-shadow: 0 0 4px 2px #ccc;
}
::placeholder {
  opacity: 0.4;
  text-transform: capitalize;
}
.input__box {
  background-color: transparent;
  border: none;
  flex-grow: 1;
  margin-left: 1rem;
  outline: none;
  width: 0;
}
.input .btn {
  margin-left: 10px;
}

@media screen and (max-width: 468px) {
  .input__box {
    font-size: 1.5rem;
  }
}
/* Parnter Stack */
.partner {
  background-color: var(--color-accent);
  border-radius: var(--radius-border);
  color: #fff;
}
.partner .grid {
  justify-items: center;
}
.partner article {
  padding: 0.5rem;
}
/* .partner .grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
} */

@media screen and (min-width: 768px) {
  .partner .grid--1x2 {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}
