@import "normalize.css";

/* Typography */
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-primary: linear-gradient(90deg, #3dd9d1, #045597);
  --color-secondary: #045597;
  --color-accent: #353535;
  --radius-border: 4px;
  --shadow-box: 0 0 14px 2px #494949;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  letter-spacing: 2px;
  line-height: 1.5;
}
.container {
  max-width: 1140px;
  margin: auto;
}
/* List */
.list {
  padding-left: 0;
  list-style-type: none;
}
.list a {
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.3s;
}
.list a:hover {
  color: #c7c7c7;
}
.list--inline .list__item {
  display: inline;
  margin-right: 3rem;
}
.list--block .list__item {
  line-height: 1.6;
}
.list--block .list__itemPoints {
  font-weight: 500;
  line-height: 1.6;
  list-style-type: disc;
}
@media screen and (max-width: 468px) {
  .list {
    font-size: 1.5rem;
  }
}
/* Grid */
.grid {
  display: grid;
}
@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Icon */
.icon {
  height: 20px;
  width: 20px;
}
.icon--big {
  height: 30px;
  width: 30px;
}
.icon--white {
  fill: #fff;
}
@media screen and (max-width: 468px) {
  .icon {
    height: 15px;
    width: 15px;
  }
}
/* Button */
.btn {
  border-radius: var(--radius-border);
  border: none;
  cursor: pointer;
  font-weight: 300;
  letter-spacing: 2px;
  padding: 0.8rem 1.6vw;
  white-space: nowrap;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
  transition: background-color 0.3s;
}
.btn--secondary:hover {
  background-color: #023f72;
}
.btn .icon {
  transform: translateY(2px);
}
@media screen and (max-width: 768px) {
  .btn {
    font-size: 1.6rem;
  }
}
/* input */
.input {
  background-color: #f2f2f2;
  border-radius: var(--radius-border);
  display: flex;
}

.input__heading {
  text-transform: capitalize;
}
.input--field {
  box-shadow: var(--shadow-box);
}
::placeholder {
  opacity: 0.4;
  text-transform: capitalize;
}
.input__box {
  background-color: transparent;
  border: none;
  flex-grow: 1;
  margin-left: 1rem;
  outline: none;
  width: 0;
}
.input .btn {
  margin-left: 10px;
}

@media screen and (max-width: 468px) {
  .input__box {
    font-size: 1.5rem;
  }
}
/* Container Box */
.container--box {
  background-color: var(--color-accent);
  color: #fff;
}
/* Partner Stack */
.partner {
  margin-top: 5rem;
}
.partner__heading {
  margin: 0;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.partner__content {
  border-radius: var(--radius-border);
}
.partner__content .grid {
  justify-items: center;
}
.partner__content article {
  padding: 0.5rem;
}
.partner__content .grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (min-width: 768px) {
  .partner__content .grid--1x2 {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}
@media screen and (max-width: 1140px) {
  .partner {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}
/* Callout */
.callout {
  text-transform: capitalize;
  padding: 2rem;
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 14rem;
}
.callout img {
  width: 100%;
  border-radius: var(--radius-border);
}
.callout__heading {
  margin-top: 1rem;
}
.callout__descript {
  font-weight: 300;
}
.callout .btn {
  margin-top: 1.3rem;
}
@media screen and (min-width: 768px) {
  .callout img {
    justify-self: end;
    margin-right: 14rem;
    width: auto;
  }

  .callout .grid--1x2 {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 468px) {
  .callout__heading {
    font-size: 2.5rem;
  }
  .callout__descript {
    font-size: 1.5rem;
  }
}
/* Work */
.work {
  border-radius: var(--radius-border);
  box-shadow: var(--shadow-box);
  overflow: hidden;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.work__imageGradient {
  background-image: var(--color-primary);
  cursor: pointer;
  display: inline-block;
  order: -1;
}
.work__image img {
  height: 242px;
  max-width: 242px;
  width: 100%;
}
.work__imageContainer {
  width: 242px;
  margin: auto;
}
.work__orderOutput {
  display: flex;
  justify-content: space-around;
  max-width: 500px;
  align-items: center;
}
.work .list__item {
  list-style-type: ":";
  padding-left: 1rem;
  font-weight: 500;
}
.work .list__itemPoints,
.work .list__item {
  line-height: 2.8;
}
@media screen and (min-width: 768px) {
  .work .grid--1x2 {
    grid-template-columns: 1fr 350px;
  }
  .work__imageGradient {
    order: 1;
  }
}
@media screen and (max-width: 468px) {
  .work {
    max-width: 350px;
    margin: auto;
  }
  .work__orderOutput {
    margin: auto;
  }
  .work .list__itemPoints {
    margin-left: 2rem;
  }
  .work .list {
    font-size: 1.5rem;
  }
  .work .list__itemPoints,
  .work .list__item {
    line-height: 2.2;
  }
}
@media screen and (max-width: 1140px) {
  .work {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
  }
}
/* Collapsible */
.collapsible {
  box-shadow: 0 0 14px 2px #0e0e0e;
}
.collapsible .list__item {
  border-bottom: 1px solid #646464;
}
.collapsible__header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #181818;
}
.collapsible__heading {
  margin: 0;
  font-size: 2.4rem;
  padding-left: 2rem;
  font-weight: 400;
}
.collapsible--icon {
  cursor: pointer;
  margin: 0.5rem;
}
.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}

/* Navbar */
.nav {
  background-image: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
}
.nav__list {
  width: 100%;
  margin: 0;
}
.nav__item {
  margin: 1rem 2rem 1rem 3rem;
  border-bottom: 1px solid #cecece;
}
@media screen and (min-width: 768px) {
  .nav .collapsible--icon {
    display: none;
  }
  .nav__item {
    border: none;
  }
  .nav__list {
    display: flex;
    max-height: 100vh;
    opacity: 1;
    width: auto;
  }
}
/* Hero */
.hero {
  background-image: var(--color-primary);
}
.hero__heading {
  text-transform: capitalize;
  font-weight: 500;
  text-shadow: 3px 3px 10px #494949;
  color: #fff;
  margin-top: 0;
  padding-top: 12rem;
  margin-bottom: 18rem;
}
.hero .input {
  transform: translateY(20px);
}
@media screen and (max-width: 1140px) {
  .hero .input {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .hero__heading {
    margin-left: 3rem;
  }
}
/* Footer */
.footer {
  background-color: var(--color-accent);
  color: #fff;
  padding: 6rem 2rem;
}
.footer .collapsible {
  box-shadow: 0 0 14px 2px #0e0e0e;
}
.footer .list__item {
  margin-left: 2rem;
}
@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer .collapsible {
    box-shadow: none;
  }
  .footer .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }
  .footer .list__item {
    border: none;
  }
  .footer .icon--big {
    display: none;
  }
  .footer .collapsible__header {
    border: none;
  }
  .footer .list {
    margin-top: 0;
  }
}
